<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body onload="AJAXStart()" class="bg-dark">
<div class="navbar navbar-dark bg-primary">
    <h1>Scheduler</h1>
</div>
<table id="timetable" class="text-white table"></table>
<script src="script.js"></script>
</body>
</html>